$font-family-base: Arial, sans-serif;

$site-width: 1600px;
$site-padding: 40px;

$primary-color: #39373b;
$layout-bg: #414042;
$secondary-color: #9bcbcb;
$menu-active-bg: #2f2e31;


/* Bootstrap variables */
$breadcrumb-separator: "\e258";
$breadcrumb-bg: #fafafa;
$breadcrumb-color: #b4b4b4;
$breadcrumb-active-color: $breadcrumb-color;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-padding-vertical: 10px;

$text-color: $primary-color;