.breadcrumbs{
  border-bottom: 1px solid #e4e4e4;
  background-color: $breadcrumb-bg;
  margin: 0 0 10px 0;
}

.breadcrumb {
  border-radius: 0;
  font-size: 14px;
  max-width: 1080px;
  margin: 0 auto;

  > li {
    display: inline-block;

    + li:before {
      font-size: 11px;
      font-weight: 400;
      padding: 0 8px 0 5px;
      content: "\e258";
      @extend .glyphicon;
    }
  }

  a{
    color: $breadcrumb-color;
  }

}
